@use "../../styles/variables" as *;

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: fit-content;
  margin: 0 auto;
  padding: 50px 100px;

  .post {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    height: fit-content;

    .joke {
      font-size: clamp(14px, 1.6vw, 1rem);
    }

    .image {
      position: relative;
      max-width: 380px;
      min-height: 100px;
      width: 100%;

      img {
        position: unset !important;
        height: fit-content !important;
      }
    }

    button {
      display: none;
    }

    &:hover {
      button {
        display: block;
      }
    }
  }
}

.button {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: $red;
  border: none;
  z-index: 1;
  transition: background-color $transition-duration ease-in-out;

  &:hover {
    background-color: $dark-red;
  }
}
