@use "../../styles/variables" as *;

.nav {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  a {
    border-bottom: 1px solid transparent;
    transition: color $transition-duration ease-in-out;

    &:hover {
      color: $green;
    }
  }

  .active {
    color: $green;
    border-color: $green;
  }
}