@use "../../styles/variables" as *;

.wrapper {
  position: relative;
  display: flex;
  gap: 20px;
  max-width: 600px;
  min-height: 300px;
  padding: 20px;
  margin: 30px auto;

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 490px;

    p {
      text-align: center;
    }
  }
}

.image {
  position: relative;
  width: 300px;
  height: 300px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .likeButton {
    align-items: center;
    gap: 4px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    padding: 0;
    background: none;
    transition: transform $transition-duration ease-in-out;
  
    img {
      border-radius: 50px;
    }
  
    &:hover {
      transform: scale(1.2);
    }
  }
  
  .nextCatButton {
    transform: scaleX(-1);
    background: none;
    border: none;
    transition: transform $transition-duration ease-in-out;
    
    img {
      border-radius: 50px;
    }
  
    &:hover {
      transform: scaleX(-1.2) scaleY(1.2);
    }
  }
}

.loader {
  position: absolute;
  top: 60px;
  z-index: 1;
}